Triagem_CVs.json
{
  "name": "Triagem_CVs",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "b272874a-d7aa-41da-a41c-46b109289bf2",
      "name": "Extract Document PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1264,
        896
      ],
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "={{ $json.file_url }}",
        "options": {}
      },
      "id": "0bcbec70-6692-4eb8-9562-4844bba742e6",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1088,
        896
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {},
      "id": "c3abc80b-fd84-45d1-b05d-06a3be84b4e3",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        720,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Adicionar link direto para o CV e Descrição da vaga**",
        "height": 80,
        "width": 187.37066290133808
      },
      "id": "332e80e1-f7d5-475f-b786-ecde19da3a3a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "##  Configuração (Setup)\n\n1.  **Baixar Arquivo**: Obtenha o CV (currículo) usando sua URL direta.\n2.  **Extrair Dados**: Use os *nodes* (nós) de extração de PDF ou texto do **N8N** para recuperar o texto do CV.\n3.  **Enviar para o OpenAI**:\n    * **URL**: Faça uma requisição **POST** para a API do OpenAI para análise.\n    * **Parâmetros**:\n        * Inclua os dados extraídos do CV e a descrição da vaga.\n        * Use o **JSON Schema** para estruturar a resposta.\n4.  **Salvar Resultados**:\n    * Armazene os dados extraídos e a análise do OpenAI no **Supabase** para uso posterior.\n",
        "height": 438.5821431288714,
        "width": 280.2462120317618,
        "color": 7
      },
      "id": "8b473e03-b86a-45a0-9200-a27473432b54",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Fluxo de Trabalho de Triagem de Currículos\n\nEste fluxo de trabalho é **ideal para agências de recrutamento, profissionais de RH e gerentes de contratação** que procuram automatizar a triagem inicial de currículos. É especialmente útil para **organizações que lidam com grandes volumes de candidaturas** e que procuram otimizar o seu processo de recrutamento.\n\nEste fluxo de trabalho **automatiza o processo de triagem de currículos** usando o **OpenAI para análise** e o **Supabase para armazenamento de dados estruturados**. Ele fornece uma **pontuação de correspondência**, um **resumo da adequação do candidato** e **principais *insights*** sobre porque o candidato se encaixa (ou não) na vaga.\n\n1.  **Recuperar Currículo**: O fluxo de trabalho baixa currículos de um link direto (por exemplo, armazenamento Supabase ou Dropbox).\n2.  **Extrair Dados**: Extrai dados de texto de arquivos PDF ou DOC para análise.\n3.  **Analisar com OpenAI**: Envia os dados extraídos e a descrição da vaga para o OpenAI para:\n    * Gerar uma pontuação de correspondência.\n    * Resumir os pontos fortes e fracos do candidato.\n    * Fornecer *insights* acionáveis sobre sua adequação para a vaga.\n4.  **Armazenar Resultados no Supabase**: Salva a análise e os dados brutos em um formato estruturado para processamento posterior ou integração em outras ferramentas.\n",
        "height": 598.6675280064023,
        "width": 636.2128494576581,
        "color": 7
      },
      "id": "9fa26b35-b8ed-436d-9d15-50f6d343301b",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Configure a conexão OpenAI**",
        "height": 80,
        "width": 187.37066290133808
      },
      "id": "03fbf3e1-557a-471f-ab44-a94073c2407f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"{{ $('Set Variables').item.json.prompt }}\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": {{ JSON.stringify(encodeURIComponent($json.text))}}\n      }\n    ],\n  \"response_format\":{ \"type\": \"json_schema\", \"json_schema\":  {{ $('Set Variables').item.json.json_schema }}\n\n }\n  }",
        "options": {}
      },
      "id": "6c8767cc-efaa-4256-af6d-82260fb0c909",
      "name": "OpenAI - Analyze CV",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1440,
        896
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83274f6f-c73e-4d5e-946f-c6dfdf7ed1c4",
              "name": "file_url",
              "type": "string",
              "value": "https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/software_engineer_resume_example.pdf"
            },
            {
              "id": "6e44f3e5-a0df-4337-9f7e-7cfa91b3cc37",
              "name": "job_description",
              "type": "string",
              "value": "Melange is a venture-backed startup building a brand new search infrastructure for the patent system. Leveraging recent and ongoing advancements in machine learning and natural language processing, we are building systems to conduct patent search faster and more accurately than any human currently can. We are a small team with a friendly, mostly-remote culture\\n\\nAbout the team\\nMelange is currently made up of 9 people. We are remote but headquartered in Brooklyn, NY. We look for people who are curious and earnest.\\n\\nAbout the role\\nJoin the team at Melange, a startup with a focus on revolutionizing patent search through advanced technology. As a software engineer in this role, you will be responsible for developing conversation graphs, integrating grammar processes, and maintaining a robust codebase. The ideal candidate will have experience shipping products, working with cloud platforms, and have familiarity with containerization tools. Additionally, experience with prompting tools, NLP packages, and cybersecurity is a plus.\\n\\nCandidate location - the US. Strong preference if they're in NYC, Boston or SF but open to anywhere else but needs to be rockstar\\n\\nYou will \\n\\n* Ship high-quality products.\\n* Utilize prompting libraries such as Langchain and Langgraph to develop conversation graphs and evaluation flows.\\n* Collaborate with linguists to integrate our in-house grammar and entity mapping processes into an iterable patent search algorithm piloted by AI patent agents.\\n* Steward the codebase, ensuring that it remains robust as it scales.\\n\\n\\nCandidate requirements\\nMinimum requirements a candidate must meet\\nHad ownership over aspects of product development in both small and large organizations at differing points in your career.\\n\\nHave used Langchain, LangGraph, or other prompting tools in production or for personal projects.\\n\\nFamiliarity with NLP packages such as Spacy, Stanza, PyTorch, and/or Tensorflow.\\n\\nShipped a working product to users, either as part of a team or on your own. \\nThis means you have: \\nproficiency with one of AWS, Azure, or Google Cloud, \\nfamiliarity with containerization and orchestration tools like Docker and Kubernetes, and \\nbuilt and maintained CI/CD pipelines.\\n5+ years of experience as a software engineer\\n\\nNice-to-haves\\nWhat could make your candidate stand out\\nExperience with cybersecurity.\\n\\nIdeal companies\\nSuccessful b2b growth stage startups that have a strong emphasis on product and design. Orgs with competent management where talent is dense and protected.\\n\\nRamp, Rippling, Brex, Carta, Toast, Asana, Airtable, Benchling, Figma, Gusto, Stripe, Plaid, Monday.com, Smartsheet, Bill.com, Freshworks, Intercom, Sprout Social, Sisense, InsightSquared, DocuSign, Dropbox, Slack, Trello, Qualtrics, Datadog, HubSpot, Shopify, Zendesk, SurveyMonkey, Squarespace, Mixpanel, Github, Atlassian, Zapier, PagerDuty, Box, Snowflake, Greenhouse, Lever, Pendo, Lucidchart, Asana, New Relic, Kajabi, Veeva Systems, Adyen, Twilio, Workday, ServiceNow, Confluent.\\n"
            },
            {
              "id": "c597c502-9a3c-48e6-a5f5-8a2a8be7282c",
              "name": "prompt",
              "type": "string",
              "value": "You are the recruiter in recruiting agency, you are strict and you pay extra attention on details in a resume. You work with companies and find talents for their jobs. You asses any resume really attentively and critically. If the candidate is a jumper, you notice that and say us.   You need to say if the candidate from out base is suitable for this job.  Return 4 things: 1. Percentage (10% step) of matching candidate resume with job. 2. Short summary - should use simple language and be short. Provide final decision on candidate based on matching percentage and candidate skills vs job requirements. 3. Summary why this candidate suits this jobs. 4. Summary why this candidate doesn't suit this jobs."
            },
            {
              "id": "1884eed1-9111-4ce1-8d07-ed176611f2d8",
              "name": "json_schema",
              "type": "string",
              "value": "{   \"name\": \"candidate_evaluation\",   \"description\": \"Structured data for evaluating a candidate based on experience and fit\",   \"strict\": true,   \"schema\": {     \"type\": \"object\",     \"properties\": {       \"percentage\": {         \"type\": \"integer\",         \"description\": \"Overall suitability percentage score for the candidate\"       },       \"summary\": {         \"type\": \"string\",         \"description\": \"A brief summary of the candidate's experience, personality, and any notable strengths or concerns\"       },       \"reasons-suit\": {         \"type\": \"array\",         \"items\": {           \"type\": \"object\",           \"properties\": {             \"name\": { \"type\": \"string\", \"description\": \"Title of the strength or reason for suitability\" },             \"text\": { \"type\": \"string\", \"description\": \"Description of how this experience or skill matches the job requirements\" }           },           \"required\": [\"name\", \"text\"],           \"additionalProperties\": false         },         \"description\": \"List of reasons why the candidate is suitable for the position\"       },       \"reasons-notsuit\": {         \"type\": \"array\",         \"items\": {           \"type\": \"object\",           \"properties\": {             \"name\": { \"type\": \"string\", \"description\": \"Title of the concern or reason for unsuitability\" },             \"text\": { \"type\": \"string\", \"description\": \"Description of how this factor may not align with the job requirements\" }           },           \"required\": [\"name\", \"text\"],           \"additionalProperties\": false         },         \"description\": \"List of reasons why the candidate may not be suitable for the position\"       }     },     \"required\": [\"percentage\", \"summary\", \"reasons-suit\", \"reasons-notsuit\"],     \"additionalProperties\": false   } }"
            }
          ]
        },
        "options": {}
      },
      "id": "669c6c54-c830-4fdf-b21d-7cacb7f72c3b",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        896,
        896
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83274f6f-c73e-4d5e-946f-c6dfdf7ed1c4",
              "name": "json_parsed",
              "type": "object",
              "value": "={{ JSON.parse($json.choices[0].message.content) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0eaded3c-ff68-4606-993d-acbe7c29a14d",
      "name": "Parsed JSON",
      "type": "n8n-nodes-base.set",
      "position": [
        1616,
        896
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Document PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Analyze CV": {
      "main": [
        [
          {
            "node": "Parsed JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document PDF": {
      "main": [
        [
          {
            "node": "OpenAI - Analyze CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "877bae31-e299-4c01-ad45-c2002045d00a",
  "meta": {
    "instanceId": "c0f7582a3c73c1bc7f61d307981c9b15e2c4199ba8cd0b9959a7894c0bbc490d"
  },
  "id": "XmQiNiy6m1ySPysX",
  "tags": []
}